.main {
    width: 90%;
    padding-left: 5%;
    padding-bottom: 14.75%; /* MAKE FINAL EDIT BASED ON SHORTEST TABLE LENGTH */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.filter {
    float: left;
}

.caption {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    margin-right: 10px;
}

.dropdown {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    margin-bottom: 10px;
    float: right;
    width: 90px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    position: relative;
    width: 100%;
}

th {
    background: crimson;
    border: 2px solid black;
    padding: 0.5%;
    text-align: left;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
}

td {
    text-align: left;
    background: rgb(235, 235, 235);
    border: 2px solid black;
    padding: 0.5%;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: crimson;
    color: black;
    font-size: large;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 3px;
    border-top-style: solid;
    border-color: black;
}