.main {
    width: 85%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 5%;
}

.category {
    width: 13%;
    font-size: 14px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 2px;
}

.abbreviation {
    width: 13%;
    font-size: 14px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 2px;
}

.name {
    width: 13%;
    font-size: 14px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.search {
    width: 100%;
}

table {
    border: 2px solid black;
    width: 90%;
    border-collapse: collapse;
    position: relative;
}

th {
    background: crimson;
    border: 2px solid black;
    padding: 1%;
    text-align: left;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
}

td {
    text-align: left;
    background: rgb(235, 235, 235);
    border: 2px solid black;
    padding: 0.5%;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

.credit {
    text-align: left;
    font-size: medium;
    padding-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: crimson;
    color: black;
    font-size: large;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 3px;
    border-top-style: solid;
    border-color: black;
}