.main {
    width: 100%;
    padding-bottom: 3%;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: crimson;
    color: black;
    font-size: large;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-top: 3px;
    border-top-style: solid;
    border-color: black;
}

.buttons2 a {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin-right: 25px;
    border: 2px solid black;
}

.buttons2 {
    display: flex;
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    background-color: crimson;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: black;
}

.buttons2 a:hover {
    color: crimson;
    cursor: pointer;
}

.buttons2 a.active {
    background-color: white;
    color: black;
    cursor: not-allowed;
    border: 3px solid black;
}