{% extends 'layout-templates/layout-about.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/about.css') }}">
    </head>

    <h1>
        About
    </h1>

    <div class="main">
        <div class="main-left">
            <h2>
                Purpose
            </h2>
            <div>
                The purpose of this website is to display Major League Baseball statistics to our visitors in an understandable and readable manner.
                The idea is that visitors should be able to find the statistics of their favorite players and teams while learning to understand them.
                The insight provided about observed statistical comparisons are meant to help visitors understand how these statistics can play a role in player and team success.
            </div>
    
            <h2>
                Information that should be known
            </h2>
            <div>
                <ul>
                    <li>There are dozens of statistics that are displayed by this website which can be overwhelming.
                        Because of this, the statistics have been split up into multiple categories which can be found on the Statistics page.
                        This page lists the statistic categories and statistics recorded within each category.
                    </li>
                    <li>
                        Having hundreds of players and 30 teams recorded statistics can make it hard for certain players or teams to be found.
                        This website contains search boxes and filters for each table that can allow visitors to filter out certain players or teams.
                        This can allow visitors to find the player or team statistics that they want to veiw without having to search for it themselves.
                    </li>
                    <li>
                        Having dozens of statistics recorded in the tables displayed can make it hard to find what player or team had the highest of a specific statistic.
                        This website allows visitors to click on table columns to sort them by the values stored within them.
                        This can allow visitors to find the players or teams that recorded the highest or lowest of a specific statistic.
                    </li>
                    <li>
                        Some of the statistic abbreviations on this website may be unfamiliar to some of our visitors.
                        For that reason, visitors can hover over statistic abbreviations and see what the abbreviations stand for.
                    </li>
                    <li>
                        Some of the statistics displayed by this website may be unfamiliar to some of our visitors.
                        This website provides a glossary of statistics in order to inform visitors about what each statistic tracks.
                    </li>
                    <li>
                        Many of the statistics displayed by this website may seem like they do not have any correlations to each other.
                        This website provides statistic comparisons and insight behind what these comparisons can tell use about player or team success.
                    </li>
                </ul>
            </div>
    
            <h2>
                Creator Information
            </h2>
            <div>
                I am a student at The College of Wooster.
                My major is Computer Science and I plan to graduate in May 2024.
                My interest in Major League Baseball statistics and what they meant began when I was a child.
                I still watch Major League Baseball today and find the advanced statistics interesting to keep track of.
            </div>

            <h2>
                Image Credit
            </h2>
            <div>
                *The image shown in the header of every web page is taken from <a href="https://thumbs.dreamstime.com/b/baseball-ball-black-background-148790483.jpg" target="_blank">Dreamstime.com</a>
                <br>
                **The image shown on the Home Page is taken from <a href="https://www.mlb.com/braves/ballpark/information" target="_blank">MLB.com</a>
            </div>
        </div>
        <div class="main-right">
            <img src="static/images/me.jpg"
                width="95%"></a>
        </div>
    </div>

    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}