{% extends 'layout-templates/layout-comparison.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/comparison.css') }}">
    </head>

    <h1>
        Comparison of Statistics
    </h1>

    <div class="main">
        <div class="filter">
            <label class="caption" for="statType">Filter By Statistic Type: </label>
            
            <select class="dropdown" id="statType" onchange="filterTable()">
                <option value="all">All</option>
                <option value="Award">Award</option>
                <option value="Batting">Batting</option>
                <option value="Fielding">Fielding</option>
                <option value="Pitching">Pitching</option>
                <option value="Team">Team</option>
            </select>
        </div>

        <table id="myTable">
            <thead>
                <tr><th style="width: 15%;" class="type">Statistic Type</th><th style="width: 25%;" class="comparison">Comparison</th><th class="insight">Insight</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pitching</td>
                    <td>Batters Faced and Batting Average Allowed</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pitching</td>
                    <td>Batters Faced and Hits Allowed</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pitching</td>
                    <td>Batters Faced and Strikeouts</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Award</td>
                    <td>Batting Champion and Batting Statistics</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Award</td>
                    <td>Cy Young Award and Pitching Statistics</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fielding</td>
                    <td>Defensive Chances and Fielding Percentage</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fielding</td>
                    <td>Defensive Chances, Put Outs, and Errors</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pitching</td>
                    <td>Earned Run Average, Strikeouts, and Walks</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Award</td>
                    <td>Hank Aaron Award and Batting Statistics</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Award</td>
                    <td>MVP Award and Player Statistics</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Team</td>
                    <td>Payroll and Season Outcome</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Team</td>
                    <td>Payroll and Wins</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Award</td>
                    <td>Pitching ERA Champion and Pitching Statistics</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fielding</td>
                    <td>Range Factor per 9 Innings and Position</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pitching</td>
                    <td>Runs Above Average and Situational Wins</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pitching</td>
                    <td>Wins Above Replacement and Win Probability Added by Pitcher</td>
                    <td></td>
                </tr>

                <tr>
                    <td>Batting</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Batting</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Batting</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Batting</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Batting</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <script>
            /*Function used to filter the table by statistic type using a dropdown*/
            function filterTable(){
                /*Stores the header column that contains the statistic type*/
                var dropdown=document.getElementById("statType");

                /*Stores the value selected in the dropdown*/
                var selectedValue=dropdown.value;
                
                /*Stores the html table*/
                var table=document.getElementById("myTable");
                /*Stores all of the rows in the table*/
                var rows=table.getElementsByTagName("tr");

                /*Loops through the table skipping the header*/
                for(var i=1;i<rows.length;i++)
                {
                    /*Stores each individual row*/
                    var row=rows[i];
                    /*Stores the value of the statistic type from the current row*/
                    var statType=row.cells[0].textContent.trim();

                    /*Compares the value of the statistic type based on the the value in the dropdown*/
                    if(selectedValue==="all" || statType===selectedValue)
                    {
                        /*If the selected statistic type matches a row, then display that row*/
                        row.style.display="";
                    }
                    else {
                        /*If the selected statistic type does not match a row, then do not display that row*/
                        row.style.display="none";
                    }
                }
            }
        </script>
    </div>

    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}