{% extends 'layout-templates/layout-index.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/index.css') }}">
    </head>
    
    <div class="main">
        <img src="static/images/field.jpg" width="100%"></a>
        <div class="overlay">Home of Analyzing Major League Baseball Statistics</div>
    </div>

    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}