{% extends 'layout-templates/layout-statistics.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/statistics.css') }}">
    </head>

    <div class="buttons2">
        <a href="/statistics-awards">Awards</a>
        <a href="/statistics-battingstd2023">Standard Batting</a>
        <a href="/statistics-battingadv2023">Advanced Batting</a>
        <a href="/statistics-battingsab2023">Sabermetric Batting</a>
        <a href="/statistics-fieldingstd2023">Standard Fielding</a>
        <a href="/statistics-fieldingadv2023">Advanced Fielding</a>
        <a href="/statistics-pitchingstd2023">Standard Pitching</a>
        <a href="/statistics-pitchingadv2023">Advanced Pitching</a>
        <a href="/statistics-pitchingsab2023">Sabermetric Pitching</a>
        <a href="/statistics-teams">Teams</a>
    </div>

    <h1>
        Search for Statistics
    </h1>

    <div class="main">
        Below is a list of the statistic categories and the statistics they contain
        <div class="categories">
            <h2>
                Awards
            </h2>

            <table>
                <tr><td>-Year</td><td>-ALCS MVP</td><td>-NLCS MVP</td><td>-World Series MVP</td><td>-AL MVP Award</td></tr>
                <tr><td>-NL MVP Award</td><td>-AL Cy Young Award</td><td>-NL Cy Young Award</td><td>-AL Hank Aaron Award</td><td>-NL Hank Aaron Award</td></tr>
                <tr><td>-Babe Ruth Award</td><td>-Edgar Martinez Award</td><td>-AL Batting Champion</td><td>-NL Batting Champion</td><td>-AL Pitching ERA Champion</td></tr>
                <tr><td>-NL Pitching ERA Champion</td><td>-AL Rookie of the Year</td><td>-NL Rookie of the Year</td><td>-AL Comeback Player of the Year</td><td>-NL Comeback Player of the Year</td></tr>
            </table>

            <h2>
                Standard Batting
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games Played</td><td>-Plate Appearances</td></tr>
                <tr><td>-At-Bats</td><td>-Runs</td><td>-Hits</td><td>-Doubles</td><td>-Triples</td></tr>
                <tr><td>-Home Runs</td><td>-Runs Batted In</td><td>-Base on Balls/Walks</td><td>-Strikeouts</td><td>-Stolen Bases</td></tr>
                <tr><td>-Caught Stealing</td><td>-Total Bases</td><td>-Outs</td><td>-Batting Average</td><td>-Position</td></tr>
            </table>

            <h2>
                Advanced Batting
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Plate Appearances</td></tr>
                <tr><td>-At-Bats</td><td>-On-Base Percentage</td><td>-Slugging Percentage</td><td>-On-base Percentage Plus Slugging Percentage</td><td>-Runs Created</td></tr>
                <tr><td>-Runs Created per game</td><td>-Isolated Power</td><td>-Strikeouts per Walk</td><td>-At-Bats per Strikeout</td><td>-At-Bats per Home Run</td></tr>
                <tr><td>-At-Bats per Run Batted In</td><td>-Strike Out Percentage</td><td>-Base On Balls Percentage</td><td>-Balls In Play Percentage</td><td>-Extra Base Hit Percentage</td></tr>
                <tr><td>-Line Drive Percentage</td><td>-Home Run Percentage</td><td>-Run Scoring Percentage</td><td>-Stolen Base Percentage</td></tr>
            </table>

            <h2>
                Sabermetric Batting
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Plate Appearances</td></tr>
                <tr><td>-At-Bats</td><td>-Batting Average on Balls In Play</td><td>-On-base Percentage Plus Slugging Percentage Plus</td><td>-Wins Above Replacement</td><td>-Offensive Wins Above Replacement</td></tr>
                <tr><td>-Defensive Wins Aabove Replacement</td><td>-Runs Above Average</td><td>-Runs Above Replacement</td><td>-Offensive Runs Above Replacement</td><td>-Player Total Offensive Contributions</td></tr>
                <tr><td>-Plays Included in Win Probability Added</td><td>-Win Probability Added by Offensive Player</td><td>-Win Probability Added</td><td>-Win Probability Subtracted</td><td>-Average Leverage Index</td></tr>
                <tr><td>-Situational Wins</td></tr>
            </table>

            <h2>
                Standard Fielding
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Games Started</td></tr>
                <tr><td>-Complete Games</td><td>-Innings played</td><td>-Putouts</td><td>-Assists</td><td>-Errors</td></tr>
                <tr><td>-Position</td></tr>
            </table>

            <h2>
                Advanced Fielding
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Defensive Chances</td></tr>
                <tr><td>-Fielding Percentage</td><td>-Total Fielding Runs Above Average</td><td>-Range Factor per 9 Innings</td><td>-Range Factor per game</td><td>-Position</td></tr>
            </table>

            <h2>
                Standard Pitching
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Wins</td><td>-Losses</td></tr>
                <tr><td>-Winning Percentage</td><td>-Earned Runs Average</td><td>-Games played</td><td>-Games Started</td><td>-Games Finished</td></tr>
                <tr><td>-Complete Games</td><td>-Shutouts</td><td>-Saves</td><td>-Innings played</td><td>-Batters Faced</td></tr>
                <tr><td>-Hits Allowed</td><td>-Runs Allowed</td><td>-Home Runs Allowed</td><td>-Earned Runs</td><td>-Strikeouts</td></tr>
                <tr><td>-Base on Balls\Walks</td><td>-Wild Pitches</td></tr>
            </table>

            <h2>
                Advanced Pitching
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Games Started</td></tr>
                <tr><td>-Innings played</td><td>-Walks and Hits Per Inning Pitched</td><td>-Earned Runs Average Plus</td><td>-Batting Average Allowed</td><td>-On-Base Percentage Allowed</td></tr>
                <tr><td>-Slugging Percentage Allowed</td><td>-On-base Percentage Plus Slugging Percentage Allowed</td><td>-Hits per 9 innings</td><td>-Home Runs per 9 Innings</td><td>-Base on Balls per 9 Innings</td></tr>
                <tr><td>-Strikeouts per 9 Innings</td><td>-Strikeout to Walk Ratio</td><td>-Home Run Percentage</td><td>-Strikeout Percentage</td><td>-Base on Balls Percentage</td></tr>
                <tr><td>-Extra Base Hit Percentage</td></tr>
            </table>

            <h2>
                Sabermetric Pitching
            </h2>

            <table>
                <tr><td>-Name</td><td>-Age</td><td>-Team</td><td>-Games played</td><td>-Games Started</td></tr>
                <tr><td>-Innings played</td><td>-Fielding Independent Pitching</td><td>-Wins Above Replacement</td><td>-Runs Above Replacement</td><td>-Batting Average on Balls in Play Allowed</td></tr>
                <tr><td>-Plays Included in Win Probability Added</td><td>-Win Probability Added by Pitcher</td><td>-Win Probability Added</td><td>-Win Porbability Subtracted</td><td>-Average Leverage Index</td></tr>
                <tr><td>-Situational Wins</td></tr>
            </table>

            <h2>
                Teams
            </h2>

            <table>
                <tr><td>-Year</td><td>-Team Name</td><td>-Team Abbreviation</td><td>-Wins</td><td>-Losses</td></tr>
                <tr><td>-Winning Percentage</td><td>-Division</td><td>-League</td><td>-Division Rank</td><td>-Season Outcome</td></tr>
                <tr><td>-Payroll</td></tr>
            </table>
        </div>
    </div>
    
    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}