{% extends 'layout-templates/layout-statistics.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base-css/statistics.css') }}">
    </head>

    <div class="buttons2">
        <a href="/statistics-awards">Awards</a>
        <a href="/statistics-battingstd2023">Standard Batting</a>
        <a href="/statistics-battingadv2023">Advanced Batting</a>
        <a href="/statistics-battingsab2023">Sabermetric Batting</a>
        <a href="/statistics-fieldingstd2023">Standard Fielding</a>
        <a href="/statistics-fieldingadv2023">Advanced Fielding</a>
        <a href="/statistics-pitchingstd2023">Standard Pitching</a>
        <a href="/statistics-pitchingadv2023">Advanced Pitching</a>
        <a href="/statistics-pitchingsab2023">Sabermetric Pitching</a>
        <a href="/statistics-teams">Teams</a>
    </div>

    <h1>
        Search for Statistics
    </h1>

    <div class="main">
        Hello World!
    </div>
    
    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}