{% extends 'layout-statistics.html' %}
{% block body %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/awards.css') }}">
    </head>

    <div class="buttons2">
        <a class="active" href="/awards">Awards</a>
        <a href="/statistics">Standard Batting</a>
        <a href="/statistics">Advanced Batting</a>
        <a href="/statistics">Sabermetric Batting</a>
        <a href="/statistics">Standard Fielding</a>
        <a href="/statistics">Advanced Fielding</a>
        <a href="/statistics">Standard Pitching</a>
        <a href="/statistics">Advanced Pitching</a>
        <a href="/statistics">Sabermetric Pitching</a>
        <a href="/teams">Teams</a>
    </div>

    <h1>
        Award List
    </h1>

    <div class="main">
        <div class="filter">
            <label class="caption" for="year">Filter By Year: </label>
            
            <select class="dropdown" id="year" onchange="filterTable()">
                <option value="all">All</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
        </div>
                
        <table id="myTable">
            <thead>
                <tr>
                    <th style="width: 2.8%;">Year</th>
                    <th>ALCS MVP</th>
                    <th>NLCS MVP</th>
                    <th>World Series MVP</th>
                    <th>AL MVP</th>
                    <th>NL MVP</th>
                    <th>AL Cy Young Award</th>
                    <th>NL Cy Young Award</th>
                    <th>AL Hank Aaron Award</th>
                    <th>NL Hank Aaron Award</th>
                    <th>Babe Ruth Award</th>
                    <th>Edgar Martinez Award</th>
                    <th>AL Batting Champion</th>
                    <th>NL Batting Champion</th>
                    <th>AL Pitching ERA Chamption</th>
                    <th>NL Pitching ERA Champion</th>
                    <th>AL Rookie of the Year</th>
                    <th>NL Rookie of the Year</th>
                    <th>AL Comeback Player of the Year</th>
                    <th>NL Comeback Player of the Year<br></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2018</td>
                    <td>Jackie Bradley Jr.</td>
                    <td>Cody Bellinger</td>
                    <td>Steve Pearce</td>
                    <td>Mookie Betts</td>
                    <td>Christian Yelich</td>
                    <td>Blake Snell</td>
                    <td>Jacob deGrom</td>
                    <td>J.D Martinez</td>
                    <td>Christian Yelich</td>
                    <td>David Price</td>
                    <td>Khris Davis</td>
                    <td>Mookie Betts</td>
                    <td>Christian Yelich</td>
                    <td>Blake Snell</td>
                    <td>Jacob deGrom</td>
                    <td>Shohei Ohtani</td>
                    <td>Ronald Acuna Jr</td>
                    <td>David Price</td>
                    <td>Jonny Venters<br></td>
                </tr>
                <tr>
                    <td>2019</td>
                    <td>Jose Altuve</td>
                    <td>Howie Kendrick</td>
                    <td>Stephen Strasburg</td>
                    <td>Mike Trout</td>
                    <td>Cody Bellinger</td>
                    <td>Justin Verlander</td>
                    <td>Jacob deGrom</td>
                    <td>Mike Trout</td>
                    <td>Christian Yelich</td>
                    <td>Juan Soto and Stephen Strasburg</td>
                    <td>Nelson Cruz</td>
                    <td>Tim Anderson</td>
                    <td>Christian Yelich</td>
                    <td>Gerrit Cole</td>
                    <td>Hyun Jin Ryu</td>
                    <td>Yordan Alvarez</td>
                    <td>Pete Alonso</td>
                    <td>Carlos Carrasco</td>
                    <td>John Donaldson<br></td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>Randy Arozarena</td>
                    <td>Corey Seager</td>
                    <td>Corey Seager</td>
                    <td>Jose Abreu</td>
                    <td>Freddie Freeman</td>
                    <td>Shane Bieber</td>
                    <td>Trevor Bauer</td>
                    <td>Jose Abreu</td>
                    <td>Freddie Freeman</td>
                    <td>Randy Arozarena</td>
                    <td>Marcel Ozuna</td>
                    <td>DJ LeMahieu</td>
                    <td>Juan Soto</td>
                    <td>Shane Bieber</td>
                    <td>Trevor Bauer</td>
                    <td>Kyle Lewis</td>
                    <td>Devin Williams</td>
                    <td>N/A</td>
                    <td>N/A<br></td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>Yordan Alvarez</td>
                    <td>Eddie Rosario</td>
                    <td>Jorge Soler</td>
                    <td>Shohei Ohtani</td>
                    <td>Bryce Harper</td>
                    <td>Robbie Ray</td>
                    <td>Corbin Burns</td>
                    <td>Vladimir Guerrero Jr.</td>
                    <td>Bryce Harper</td>
                    <td>Freddie Freeman</td>
                    <td>Shohei Ohtani</td>
                    <td>Yuli Gurriel</td>
                    <td>Trea Turner</td>
                    <td>Robbie Ray</td>
                    <td>Corbin Burns</td>
                    <td>Randy Arozarena</td>
                    <td>Jonathan India</td>
                    <td>Trey Mancini</td>
                    <td>Buster Posey<br></td>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>Jeremy Pena</td>
                    <td>Bryce Harper</td>
                    <td>Jeremy Pena</td>
                    <td>Aaron Judge</td>
                    <td>Paul Goldschmidt</td>
                    <td>Justin Verlander</td>
                    <td>Sandy Alcantra</td>
                    <td>Aaron Judge</td>
                    <td>Paul Goldschmidt</td>
                    <td>Jeremy Pena</td>
                    <td>Shohei Ohtani</td>
                    <td>Luis Arraez</td>
                    <td>Jeff McNeil</td>
                    <td>Justin Verlander</td>
                    <td>Julio Urias</td>
                    <td>Julio Rodriguez</td>
                    <td>Michael Harris II</td>
                    <td>Justin Verlander</td>
                    <td>Albert Pujols<br></td>
                </tr>
                <tr>
                    <td>2023</td>
                    <td>Adolis Garcia</td>
                    <td>Ketel Martin</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                    <td>TBD</td>
                </tr>
            </tbody>
        </table>

        <script>
            function filterTable(){
                var dropdown=document.getElementById("year");
                var selectedValue=dropdown.value;
                var table=document.getElementById("myTable");
                var rows=table.getElementsByTagName("tr");

                for(var i=1;i<rows.length;i++)
                {
                    var row=rows[i];
                    var year=row.cells[0].textContent.trim();

                    if(selectedValue==="all" || year===selectedValue)
                    {
                        row.style.display="";
                    }
                    else{
                        row.style.display="none";
                    }
                }
            }
        </script>

        <div class="credit">
            *This awards list was provided by <a href="https://www.baseball-reference.com/bullpen/Baseball_statistics" target="_blank">Baseball Reference</a>
        </div>
    </div>
    
    <div class="footer">
        Alex Delicer
        <br>
        The College of Wooster
        <br>
        Phone: +1 470 429 1104
        <br>
        Email: adelicer24@wooster.edu
    </div>
</html>
{% endblock %}