<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    </head>

    <div class="header">
        <img src="static/images/baseball.jpg"
            width="75" height="75" class="logo"></a>

        <h1 class="h1">
            Beyond the Box Score
        </h1>

        <div class="buttons">
            <a href="/">Home</a>
            <a class="active" href="/about">About</a>
            <a href="/statistics">Statistic Search</a>
            <a href="/comparison">Statistic Comparison</a>
            <a href="/glossary">Statistic Glossary</a>
        </div>
    </div>
</html>

{% block body %}{% endblock %}